table{

width:100%;

border-collapse:collapse;

background:white;

}



th{

background:#101820;

color:white;

padding:10px;

}



td{

padding:10px;

border-bottom:1px solid #ddd;

}



tr:hover{

background:#f2f2f2;

}

